body{
    background-color: beige;
}

.meow{
    font-size: 22.22px;
    font-style: italic;
    background-color:aliceblue;
    cursor: pointer;
}
.meow:hover{
    background-color:blue;
}

.meow > pre{

    cursor:crosshair;
}
.meow > pre:hover{

    color:red; 
    font-size: 24px;
}